BME_280
[{"id":"ec907ff4.51d25","type":"tab","label":"Windmaster Pro","disabled":false,"info":""},{"id":"a3e93c99.015c1","type":"gate","z":"ec907ff4.51d25","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":650,"y":480,"wires":[[]]},{"id":"f4c0c29e.ea0d5","type":"status","z":"ec907ff4.51d25","name":"","scope":["a3e93c99.015c1"],"x":240,"y":260,"wires":[["8da823b5.76441","b2a41a23.a2c388"]]},{"id":"8da823b5.76441","type":"function","z":"ec907ff4.51d25","name":"Trigger","func":"if(msg.status.text == 'open')\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["8fc1a7ed.c332f8"]]},{"id":"8fc1a7ed.c332f8","type":"trigger","z":"ec907ff4.51d25","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":260,"wires":[["14c718fc.669847"]]},{"id":"12e36e22.02f362","type":"function","z":"ec907ff4.51d25","name":"Formate","func":"let cor_1 = 1\nlet cor_2 = 1\nlet cor_3 = 1\n\nif(msg.payload[3] == '-'){\n    cor_1 = -1\n}\n\nif(msg.payload[11] == '-'){\n    cor_2 = -1\n}\n\nif(msg.payload[19] == '-'){\n    cor_3 = -1\n}\n\n\nconst measure = {\n    payload: {\n        sensor: 'windmaster', \n        data: [\n            { name: 'u', value: (parseFloat(msg.payload[4]) * 100 + parseFloat(msg.payload[5])* 10 + parseFloat(msg.payload[6]) + parseFloat(msg.payload[8]) * 0.1 + parseFloat(msg.payload[9]) * 0.01) * cor_1},\n            { name: 'v', value: (parseFloat(msg.payload[12]) * 100 + parseFloat(msg.payload[13])* 10 + parseFloat(msg.payload[14]) + parseFloat(msg.payload[16]) * 0.1 + parseFloat(msg.payload[17]) * 0.01) * cor_2},\n            { name: 'w', value: (parseFloat(msg.payload[20]) * 100 + parseFloat(msg.payload[21])* 10 + parseFloat(msg.payload[22]) + parseFloat(msg.payload[24]) * 0.1 + parseFloat(msg.payload[25]) * 0.01) * cor_3}\n        ],\n    fields:[\n       {name: 'u', field: 'field6'},\n       {name: 'v', field: 'field7'},\n       {name: 'w', field: 'field8'}\n       ],\n    timestamp: new Date()\n    }\n\n}\n\nreturn measure;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":260,"wires":[["7b99edcd.fb3b34"]]},{"id":"7b99edcd.fb3b34","type":"thingspeak-sender","z":"ec907ff4.51d25","apiKey":"1K75UK4UJG5K8H82","channelId":"1283160","sendTimeout":"1","x":1240,"y":260,"wires":[["b55003b4.68325"]]},{"id":"14c718fc.669847","type":"serial request","z":"ec907ff4.51d25","name":"","serial":"96e81e26.dffaf","x":850,"y":260,"wires":[["12e36e22.02f362","328e8f27.00fa8","23f8c749.2817a8","8d7aca95.a5a128"]]},{"id":"b55003b4.68325","type":"mqtt out","z":"ec907ff4.51d25","name":"","topic":"","qos":"0","retain":"false","broker":"f7fd2d1b.12e67","x":1430,"y":260,"wires":[]},{"id":"328e8f27.00fa8","type":"function","z":"ec907ff4.51d25","name":"Prepare4chart","func":"let cor_1 = 1\nlet cor_2 = 1\nlet cor_3 = 1\n\nif(msg.payload[3] == '-'){\n    cor_1 = -1\n}\n\nif(msg.payload[11] == '-'){\n    cor_2 = -1\n}\n\nif(msg.payload[19] == '-'){\n    cor_3 = -1\n}\n\n\nconst u = {\n    payload: (parseFloat(msg.payload[4]) * 100 + parseFloat(msg.payload[5])* 10 + parseFloat(msg.payload[6]) + parseFloat(msg.payload[8]) * 0.1 + parseFloat(msg.payload[9]) * 0.01) * cor_1,\n    topic: 'u'\n    \n}\n\nconst v = {\n    payload: (parseFloat(msg.payload[12]) * 100 + parseFloat(msg.payload[13])* 10 + parseFloat(msg.payload[14]) + parseFloat(msg.payload[16]) * 0.1 + parseFloat(msg.payload[17]) * 0.01) * cor_1,\n    topic: 'v'\n    \n}\n\nconst w = {\n    payload: (parseFloat(msg.payload[20]) * 100 + parseFloat(msg.payload[21])* 10 + parseFloat(msg.payload[22]) + parseFloat(msg.payload[24]) * 0.1 + parseFloat(msg.payload[25]) * 0.01) * cor_1,\n    topic: 'w'\n    \n}\n\n\nreturn [u, v, w];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1040,"y":500,"wires":[["bd26d7ca.dc9968"],["bd26d7ca.dc9968"],["bd26d7ca.dc9968"]]},{"id":"23f8c749.2817a8","type":"function","z":"ec907ff4.51d25","name":"Magnitude","func":"const u =  parseFloat(msg.payload[4]) * 100 + parseFloat(msg.payload[5])* 10 + parseFloat(msg.payload[6]) + parseFloat(msg.payload[8]) * 0.1 + parseFloat(msg.payload[9]) * 0.01\n\nconst v =  parseFloat(msg.payload[12]) * 100 + parseFloat(msg.payload[13])* 10 + parseFloat(msg.payload[14]) + parseFloat(msg.payload[16]) * 0.1 + parseFloat(msg.payload[17]) * 0.01\n\nconst w =  parseFloat(msg.payload[20]) * 100 + parseFloat(msg.payload[21])* 10 + parseFloat(msg.payload[22]) + parseFloat(msg.payload[24]) * 0.1 + parseFloat(msg.payload[25]) * 0.01\n\n\nconst magnitude = {\n    payload : (Math.sqrt(Math.pow(u, 2) + Math.pow(v, 2) + Math.pow(w, 2))).toFixed(2)\n}\nreturn magnitude;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":400,"wires":[["d510d179.0e885"]]},{"id":"e41be3ea.f72a8","type":"ui_text","z":"ec907ff4.51d25","group":"1846c4f3.8f482b","order":5,"width":0,"height":0,"name":"","label":"Richtung:","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":340,"wires":[]},{"id":"8d7aca95.a5a128","type":"function","z":"ec907ff4.51d25","name":"direction","func":"let cor_1 = 1\nlet cor_2 = 1\nlet cor_3 = 1\n\n\nconst u =  parseFloat(msg.payload[4]) * 100 + parseFloat(msg.payload[5])* 10 + parseFloat(msg.payload[6]) + parseFloat(msg.payload[8]) * 0.1 + parseFloat(msg.payload[9]) * 0.01\nconst v =  parseFloat(msg.payload[12]) * 100 + parseFloat(msg.payload[13])* 10 + parseFloat(msg.payload[14]) + parseFloat(msg.payload[16]) * 0.1 + parseFloat(msg.payload[17]) * 0.01\nconst w =  parseFloat(msg.payload[20]) * 100 + parseFloat(msg.payload[21])* 10 + parseFloat(msg.payload[22]) + parseFloat(msg.payload[24]) * 0.1 + parseFloat(msg.payload[25]) * 0.01\nlet mag = Math.sqrt(Math.pow(u, 2) + Math.pow(v, 2) + Math.pow(w, 2))\n\nif(mag == 0){\n    mag = 1\n}\nif(msg.payload[3] == '-'){\n    cor_1 = -1\n}\n\nif(msg.payload[11] == '-'){\n    cor_2 = -1\n}\n\nif(msg.payload[19] == '-'){\n    cor_3 = -1\n}\n\n\nconst dir = {\n    payload: [((parseFloat(msg.payload[4]) * 100 + parseFloat(msg.payload[5])* 10 + parseFloat(msg.payload[6]) + parseFloat(msg.payload[8]) * 0.1 + parseFloat(msg.payload[9]) * 0.01) * cor_1 / mag).toFixed(2),\n\n    ((parseFloat(msg.payload[12]) * 100 + parseFloat(msg.payload[13])* 10 + parseFloat(msg.payload[14]) + parseFloat(msg.payload[16]) * 0.1 + parseFloat(msg.payload[17]) * 0.01) * cor_1 / mag).toFixed(2),\n\n\n    ((parseFloat(msg.payload[20]) * 100 + parseFloat(msg.payload[21])* 10 + parseFloat(msg.payload[22]) + parseFloat(msg.payload[24]) * 0.1 + parseFloat(msg.payload[25]) * 0.01) * cor_1 / mag).toFixed(2)\n    \n    ]\n}\n\n\nreturn dir;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":340,"wires":[["e41be3ea.f72a8"]]},{"id":"d510d179.0e885","type":"ui_gauge","z":"ec907ff4.51d25","name":"","group":"1846c4f3.8f482b","order":4,"width":0,"height":0,"gtype":"gage","title":"Betrag","label":"m/s","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1480,"y":420,"wires":[]},{"id":"bd26d7ca.dc9968","type":"ui_chart","z":"ec907ff4.51d25","name":"","group":"1846c4f3.8f482b","order":3,"width":0,"height":0,"label":"Windgeschwindigkeit [m/s]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1410,"y":500,"wires":[[]]},{"id":"cb39a546.53f5d8","type":"ui_button","z":"ec907ff4.51d25","name":"","group":"1846c4f3.8f482b","order":1,"width":0,"height":0,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"toggle","payloadType":"str","topic":"control","x":510,"y":420,"wires":[["a3e93c99.015c1"]]},{"id":"3492e685.e6cb7a","type":"status","z":"ec907ff4.51d25","name":"","scope":["14c718fc.669847"],"x":780,"y":120,"wires":[["6273bf15.cb979","3e67896f.dab696"]]},{"id":"979c1ed0.d6a97","type":"ui_text","z":"ec907ff4.51d25","group":"1846c4f3.8f482b","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<font color= {{msg.color}} > {{msg.payload}}</font>","layout":"row-spread","x":1380,"y":120,"wires":[]},{"id":"b2a41a23.a2c388","type":"function","z":"ec907ff4.51d25","name":"Set Color & Text","func":"let col = '#C0DEED'\nlet text = 'Stop'\n\nif(msg.status.text == 'open'){\n   text = 'Start'\n   col = 'green'\n}\n\nmsg= {\n    background : col,\n    label : text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["cb39a546.53f5d8"]]},{"id":"5a40d4ff.97449c","type":"inject","z":"ec907ff4.51d25","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":420,"y":540,"wires":[["a3e93c99.015c1"]]},{"id":"6273bf15.cb979","type":"function","z":"ec907ff4.51d25","name":"Check State","func":"let state = 'Verbunden'\nlet col = 'green'\n\n\nif(msg.status.fill == \"yellow\"){\n   state = 'Nicht verbunden' \n   col = 'red'\n}\n\nif(msg.status.fill == \"red\"){\n   state = 'Nicht verbunden'\n   col = 'red'\n}\n\nconst change = {\n    payload : state,\n    color: col\n\n   \n}\nreturn change","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":180,"wires":[["eb98fda7.6b7b9"]]},{"id":"eb98fda7.6b7b9","type":"deglitch","z":"ec907ff4.51d25","name":"","mode":1,"time":"500","timeUnits":"milliseconds","x":1200,"y":180,"wires":[["979c1ed0.d6a97"]]},{"id":"3e67896f.dab696","type":"function","z":"ec907ff4.51d25","name":"if OK","func":"let state = 'Verbunden'\nlet col = 'green'\n\n\nconst change = {\n    payload : state,\n    color: col\n\n}\n\n\nif(msg.status.fill == \"green\"){\n  return change\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":60,"wires":[["979c1ed0.d6a97"]]},{"id":"96e81e26.dffaf","type":"serial-port","serialport":"/dev/windmaster","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f7fd2d1b.12e67","type":"mqtt-broker","name":"thingspeak mqtt","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1846c4f3.8f482b","type":"ui_group","name":"Windmaster","tab":"af965319.5f7bf","order":3,"disp":true,"width":"6","collapse":false},{"id":"af965319.5f7bf","type":"ui_tab","name":"Autonomes Messsystem","icon":"dashboard","disabled":false,"hidden":false}]
