node_red_raspberry.json
[{"id":"adeab638.231358","type":"tab","label":"Raspberry Pi","disabled":false,"info":""},{"id":"734dd240.807a0c","type":"exec","z":"adeab638.231358","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"","x":420,"y":220,"wires":[[],[],[]]},{"id":"cc1c3c25.aa528","type":"ui_button","z":"adeab638.231358","name":"","group":"d924bef1.ae141","order":1,"width":0,"height":0,"passthru":false,"label":"Neustart","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":220,"wires":[["734dd240.807a0c"]]},{"id":"de21c2c3.02c4c","type":"exec","z":"adeab638.231358","command":"node-red-restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":320,"wires":[[],[],[]]},{"id":"151e380f.328148","type":"ui_button","z":"adeab638.231358","name":"","group":"d924bef1.ae141","order":1,"width":0,"height":0,"passthru":false,"label":"Node-red Neustart","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":320,"wires":[["de21c2c3.02c4c"]]},{"id":"d924bef1.ae141","type":"ui_group","name":"Raspberry Pi","tab":"af965319.5f7bf","order":1,"disp":true,"width":"6","collapse":false},{"id":"af965319.5f7bf","type":"ui_tab","name":"Autonomes Messsystem","icon":"dashboard","disabled":false,"hidden":false}]