node_red_bme.json
[{"id":"22d10b13.04c034","type":"tab","label":"BME 280","disabled":false,"info":""},{"id":"34cf110b.85b24e","type":"Bme280","z":"22d10b13.04c034","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":700,"y":200,"wires":[["d55372a.72e8f9","dfde533e.29f73","f574b712.fa2d18","771b0cbb.ece0e4"]]},{"id":"7085d71f.eeae18","type":"trigger","z":"22d10b13.04c034","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":200,"wires":[["34cf110b.85b24e"]]},{"id":"7271ad59.723384","type":"gate","z":"22d10b13.04c034","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":670,"y":380,"wires":[[]]},{"id":"d5708daf.347c8","type":"status","z":"22d10b13.04c034","name":"","scope":["7271ad59.723384"],"x":140,"y":200,"wires":[["96ec9664.44dda8","c3f287fc.d875a8"]]},{"id":"96ec9664.44dda8","type":"function","z":"22d10b13.04c034","name":"Trigger","func":"if(msg.status.text == 'open')\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["7085d71f.eeae18"]]},{"id":"f79f29a.bc177d8","type":"thingspeak-sender","z":"22d10b13.04c034","apiKey":"1K75UK4UJG5K8H82","channelId":"1283160","sendTimeout":"1","x":1050,"y":200,"wires":[["5fae5cbb.a581d4"]]},{"id":"d55372a.72e8f9","type":"function","z":"22d10b13.04c034","name":"Formate","func":"const { humidity, temperature_C, pressure_hPa } = msg.payload\n\nconst measure = {\n    payload: {\n        sensor: 'bme', \n        data: [\n            { name: 'temperature', value: temperature_C },\n            { name: 'humidity', value: humidity },\n            { name: 'pressure', value: pressure_hPa }\n        ],\n    fields:[\n       {name: 'temperature', field: 'field3'},\n       {name: 'humidity', field: 'field4'},\n       {name: 'pressure', field: 'field5'}\n    ],\n    timestamp: new Date()\n    }\n\n}\n\nreturn measure;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":200,"wires":[["f79f29a.bc177d8"]]},{"id":"5fae5cbb.a581d4","type":"mqtt out","z":"22d10b13.04c034","name":"","topic":"","qos":"0","retain":"false","broker":"a73b4a52.6bd188","x":1260,"y":200,"wires":[]},{"id":"7e81b059.77639","type":"ui_chart","z":"22d10b13.04c034","name":"","group":"16a94327.6fd82d","order":3,"width":0,"height":0,"label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1250,"y":280,"wires":[[]]},{"id":"3b87ba36.1504f6","type":"ui_chart","z":"22d10b13.04c034","name":"","group":"16a94327.6fd82d","order":4,"width":0,"height":0,"label":"Luftfeuchtigkeit [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1270,"y":340,"wires":[[]]},{"id":"e307934c.206fc","type":"ui_chart","z":"22d10b13.04c034","name":"","group":"16a94327.6fd82d","order":5,"width":0,"height":0,"label":"Druck [mbar]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1250,"y":400,"wires":[[]]},{"id":"a3dd0af7.16c2d8","type":"ui_button","z":"22d10b13.04c034","name":"","group":"16a94327.6fd82d","order":1,"width":0,"height":0,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"toggle","payloadType":"str","topic":"control","x":470,"y":320,"wires":[["7271ad59.723384"]]},{"id":"dfde533e.29f73","type":"change","z":"22d10b13.04c034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":280,"wires":[["7e81b059.77639"]]},{"id":"f574b712.fa2d18","type":"change","z":"22d10b13.04c034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":340,"wires":[["3b87ba36.1504f6"]]},{"id":"771b0cbb.ece0e4","type":"change","z":"22d10b13.04c034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure_hPa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["e307934c.206fc"]]},{"id":"f72556ea.9e3378","type":"status","z":"22d10b13.04c034","name":"","scope":["34cf110b.85b24e"],"x":800,"y":80,"wires":[["5b7317ad.260148"]]},{"id":"7a16bdf4.d73844","type":"ui_text","z":"22d10b13.04c034","group":"16a94327.6fd82d","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<font color= {{msg.color}} > {{msg.payload}}</font>","layout":"row-spread","x":1400,"y":80,"wires":[]},{"id":"5b7317ad.260148","type":"function","z":"22d10b13.04c034","name":"Check State","func":"let state = 'Verbunden'\nlet col = 'green'\n\n\nif(msg.status.fill == \"yellow\"){\n   state = 'Warten' \n   col = 'yellow'\n}\n\nif(msg.status.fill == \"red\"){\n   state = 'Nicht verbunden'\n   col = 'red'\n}\n\nconst change = {\n    payload : state,\n    color: col\n\n   \n}\nreturn change","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":80,"wires":[["66cfba8f.ed3124"]]},{"id":"66cfba8f.ed3124","type":"deglitch","z":"22d10b13.04c034","name":"","mode":1,"time":"500","timeUnits":"milliseconds","x":1230,"y":80,"wires":[["7a16bdf4.d73844"]]},{"id":"c3f287fc.d875a8","type":"function","z":"22d10b13.04c034","name":"Set Color & Text","func":"let col = '#C0DEED'\nlet text = 'Stop'\n\nif(msg.status.text == 'open'){\n   text = 'Start'\n   col = 'green'\n}\n\nmsg= {\n    background : col,\n    label : text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["a3dd0af7.16c2d8"]]},{"id":"b1c2bc2a.4de52","type":"inject","z":"22d10b13.04c034","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":460,"y":440,"wires":[["7271ad59.723384"]]},{"id":"a73b4a52.6bd188","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"DesktopClient","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16a94327.6fd82d","type":"ui_group","name":"BME 280","tab":"af965319.5f7bf","order":2,"disp":true,"width":"6","collapse":false},{"id":"af965319.5f7bf","type":"ui_tab","name":"Autonomes Messsystem","icon":"dashboard","disabled":false,"hidden":false}]