node_red_nova_dust.json
[{"id":"a65b6169.3713f","type":"tab","label":"Nova_Dust","disabled":false,"info":""},{"id":"1ab77d56.b199e3","type":"function","z":"a65b6169.3713f","name":"Formate","func":"const measure = {\n    payload: {\n        sensor: 'nova', \n        data: [\n            { name: 'pm25', value: (msg.payload[3] * 256 + msg.payload[2]) / 10},\n            { name: 'pm10', value: (msg.payload[5] * 256 + msg.payload[4]) / 10},\n        ],\n    fields:[\n       {name: 'pm25', field: 'field1'},\n       {name: 'pm10', field: 'field2'}\n    ],\n    timestamp: new Date()\n    }\n\n}\n\nreturn measure;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":240,"wires":[["85a48d53.608cb"]]},{"id":"6e07b1e7.f744d","type":"serial request","z":"a65b6169.3713f","name":"","serial":"9c52a96d.a1bdf8","x":720,"y":240,"wires":[["e1d8a03.d3d676","1ab77d56.b199e3"]]},{"id":"42d0326d.7eb8fc","type":"trigger","z":"a65b6169.3713f","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":240,"wires":[["6e07b1e7.f744d"]]},{"id":"85a48d53.608cb","type":"thingspeak-sender","z":"a65b6169.3713f","apiKey":"1K75UK4UJG5K8H82","channelId":"1283160","sendTimeout":"1","x":1200,"y":240,"wires":[["718275d4.55690c"]]},{"id":"fb04f878.e544b8","type":"ui_button","z":"a65b6169.3713f","name":"","group":"375329c8.7e6616","order":1,"width":0,"height":0,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"toggle","payloadType":"str","topic":"control","x":410,"y":400,"wires":[["78edb80d.22f6d8"]]},{"id":"78edb80d.22f6d8","type":"gate","z":"a65b6169.3713f","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":590,"y":480,"wires":[[]]},{"id":"5e9d87bb.8a6eb8","type":"status","z":"a65b6169.3713f","name":"","scope":["78edb80d.22f6d8"],"x":100,"y":240,"wires":[["1f6f8e73.1fd642","a24cca5a.c4e928"]]},{"id":"1f6f8e73.1fd642","type":"function","z":"a65b6169.3713f","name":"Trigger","func":"if(msg.status.text == 'open')\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["42d0326d.7eb8fc"]]},{"id":"9911b1b2.2e1f5","type":"function","z":"a65b6169.3713f","name":"Prepare4Chart","func":"//var pm25 = {};\n//var pm10 = {};\n//    pm25.payload = (msg.payload[3]*256 + msg.payload[2])/10;\n//    pm10.payload = (msg.payload[5]*256 + msg.payload[4])/10;\n\nconst pm25 = {\n    payload: (msg.payload[3] * 256 + msg.payload[2]) / 10,\n    topic: \"pm25\"\n}\nconst pm10 = {\n    payload: (msg.payload[5] * 256 + msg.payload[4]) / 10,\n    topic: \"pm10\"\n}\n\n\n    return [pm25 , pm10];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1120,"y":380,"wires":[["9610c1d3.87f2e"],["9610c1d3.87f2e"]]},{"id":"967cc620.6ef928","type":"ui_button","z":"a65b6169.3713f","d":true,"name":"","group":"375329c8.7e6616","order":4,"width":0,"height":0,"passthru":false,"label":"Show/Hide","tooltip":"","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"control","x":770,"y":440,"wires":[["e1d8a03.d3d676"]]},{"id":"e1d8a03.d3d676","type":"gate","z":"a65b6169.3713f","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":960,"y":380,"wires":[["9911b1b2.2e1f5"]]},{"id":"718275d4.55690c","type":"mqtt out","z":"a65b6169.3713f","name":"","topic":"","qos":"0","retain":"false","broker":"8702242a.ae1128","x":1430,"y":240,"wires":[]},{"id":"9610c1d3.87f2e","type":"ui_chart","z":"a65b6169.3713f","name":"","group":"375329c8.7e6616","order":3,"width":0,"height":0,"label":"Feinstaubkonzentration [μg/m³]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1370,"y":380,"wires":[[]]},{"id":"829710ca.89173","type":"status","z":"a65b6169.3713f","name":"","scope":["6e07b1e7.f744d"],"x":980,"y":100,"wires":[["1a0aa61c.b60d5a","a8ecac88.2c85"]]},{"id":"9575b104.4f5f4","type":"ui_text","z":"a65b6169.3713f","group":"375329c8.7e6616","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<font color= {{msg.color}} > {{msg.payload}}</font>","layout":"row-spread","x":1580,"y":100,"wires":[]},{"id":"1a0aa61c.b60d5a","type":"function","z":"a65b6169.3713f","name":"Check State","func":"let state = 'Verbunden'\nlet col = 'green'\n\n\nif(msg.status.fill == \"yellow\"){\n   state = 'Nicht verbunden' \n   col = 'red'\n}\n\nif(msg.status.fill == \"red\"){\n   state = 'Nicht verbunden'\n   col = 'red'\n}\n\nconst change = {\n    payload : state,\n    color: col\n\n   \n}\nreturn change","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":160,"wires":[["ead84c92.ab1c9"]]},{"id":"a24cca5a.c4e928","type":"function","z":"a65b6169.3713f","name":"Set Color & Text","func":"let col = '#C0DEED'\nlet text = 'Stop'\n\nif(msg.status.text == 'open'){\n   text = 'Start'\n   col = 'green'\n}\n\nmsg= {\n    background : col,\n    label : text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":320,"wires":[["fb04f878.e544b8"]]},{"id":"1de2d74.2e5c429","type":"inject","z":"a65b6169.3713f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":260,"y":520,"wires":[["78edb80d.22f6d8"]]},{"id":"ead84c92.ab1c9","type":"deglitch","z":"a65b6169.3713f","name":"","mode":1,"time":"500","timeUnits":"milliseconds","x":1380,"y":160,"wires":[["9575b104.4f5f4"]]},{"id":"a8ecac88.2c85","type":"function","z":"a65b6169.3713f","name":"if OK","func":"let state = 'Verbunden'\nlet col = 'green'\n\n\nconst change = {\n    payload : state,\n    color: col\n\n}\n\n\nif(msg.status.fill == \"green\"){\n  return change\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":80,"wires":[["9575b104.4f5f4"]]},{"id":"9c52a96d.a1bdf8","type":"serial-port","serialport":"/dev/nova","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xAB","bin":"bin","out":"char","addchar":"","responsetimeout":"10000"},{"id":"375329c8.7e6616","type":"ui_group","name":"Nova Dust","tab":"af965319.5f7bf","order":4,"disp":true,"width":"6","collapse":false},{"id":"8702242a.ae1128","type":"mqtt-broker","name":"thingspeak mqtt","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af965319.5f7bf","type":"ui_tab","name":"Autonomes Messsystem","icon":"dashboard","disabled":false,"hidden":false}]